<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/entries">Entries</a>
    </li>
    <li class="breadcrumb-item active">
      Entry
    </li>
  </ol>
</nav>


<div class="row mb-3">
  <div class="col-md-9">
    <h1 class="h2 pl-2">
      Entry
    </h1>
  </div>
  <div class="col-md-3">
    <a routerLink="/entries" class="btn btn-light float-right"> <i class="fa fa-arrow-left"></i> back</a>
  </div>
</div>

<form [formGroup]="entryForm" (submit)="submitForm()">

  <div class="card">
    <div class="card-header">
      Entry info
    </div>
    <div class="card-body">
        <div class="form-row">

          <!-- Type -->
          <div class="form-group col-md-2">
            <label for='type'>Type</label>

            <select name="type" id="type" formControlName="type" class='form-control'>
              <option *ngFor="let option of typeOptions" value="{{option.value}}">{{option.text}}</option>
            </select>

            <div class="text-danger" *ngIf="entryForm.get('type').invalid && entryForm.get('type').touched">
              <div *ngIf="entryForm.get('type').errors.required"> Mandatory field</div>
            </div>
            
          </div>

          <!-- Name -->
          <div class="form-group col-md-5">
              <label for='name'>Name</label>
              <input type="text" class="form-control" id='name' formControlName='name'>
              <div class="text-danger" *ngIf="entryForm.get('name').invalid && entryForm.get('name').touched">
                <div *ngIf="entryForm.get('name').errors.required"> Mandatory field</div>
                <div *ngIf="entryForm.get('name').errors.minlength"> Please type at least 2 characters</div>
              </div>
            </div>

          <!-- Amount -->
          <div class="form-group col-md-3">
              <label for='amount'>Amount</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input [imask]="imaskConfig" type="text" class="form-control text-right" id='amount' formControlName='amount'>
              </div>
              <div class="text-danger" *ngIf="entryForm.get('amount').invalid && entryForm.get('amount').touched">
                <div *ngIf="entryForm.get('amount').errors.required"> Mandatory field</div>
              </div>
            </div>


          <!-- Date -->
          <div class="form-group col-md-2">
              <label for='date'>Date</label>
                  <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" formControlName="date"
                        name="dp" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              <div class="text-danger" *ngIf="entryForm.get('date').invalid && entryForm.get('date').touched">
                <div *ngIf="entryForm.get('date').errors.required"> Mandatory field</div>
              </div>
            </div>
        </div>



      <div class="form-row">
        <!-- Paid -->
          <div class="form-group col-md-2">
              <label for='paid'>Paid</label>
              <div class="btn-group">
                <label (click)="entryForm.get('paid').setValue(true)" [class.active]="entryForm.get('paid').value == true" class="btn btn-outline-info">
                  Paid
                </label>
                <label (click)="entryForm.get('paid').setValue(false)" [class.active]="entryForm.get('paid').value == false" class="btn btn-outline-info">
                  Pending
                </label>
              </div>  
            </div>

          <!-- CategoryId -->
          <div class="form-group col-md-3">
              <label for='type'>Category</label>
  
              <select name="categoryId" id="type" formControlName="categoryId" class='form-control'>
                <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
              </select>
  
              <div class="text-danger" *ngIf="entryForm.get('categoryId').invalid && entryForm.get('categoryId').touched">
                <div *ngIf="entryForm.get('categoryId').errors.required"> Mandatory field</div>
              </div>
              
            </div>

            <!-- Description-->
          <div class="form-group col-md-7">
            <label for='description'>Description</label>
            <input type="text" class="form-control" id='description' formControlName='description'> 
          </div>


      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Server error:</strong>
    <ul>
      <li *ngFor="let s_error of serverErrorMessages">{{s_error}}</li>
    </ul>
  </div>

  <button [disabled]="submittingForm || entryForm.invalid" type='submit' class="btn-primary btn btn-lg float-right mt-3">Save</button>
</form>